<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rency.crawler.repository.CookiesRepository">
	<cache  eviction="FIFO" flushInterval="60000" size="512" readOnly="false"/>
	
	<select id="list" resultType="Cookies">
		select * from t_crawler_cookies
	</select>
	
	<select id="get" parameterType="String" resultType="Cookies">
		select * from t_crawler_cookies where host=#{host}
	</select>

	<insert id="save" parameterType="Cookies">
		insert into t_crawler_cookies (host, domian, cookieName, cookieValue, isSecure, version, path, execDate)
		values (#{host},#{domian},#{cookieName},#{cookieValue},#{isSecure},#{version},#{path},#{execDate});
	</insert>
	
	<update id="update">
		update t_crawler_cookies set 
		<if test="domian != null || domian != ''">
			domian = #{domian},
		</if>
		<if test="cookieName != null || cookieName != ''">
			cookieName = #{cookieName},
		</if>
		<if test="cookieValue != null || cookieValue != ''">
			cookieValue = #{cookieValue},
		</if>
		<if test="isSecure == true">
			isSecure = #{isSecure},
		</if>
		<if test="version != 0">
			version = #{version},
		</if>
		<if test="path != null || path != ''">
			path = #{path},
		</if>
		<if test="execDate != null">
			execDate = #{execDate},
		</if>
		where host = #{host}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from t_crawler_cookies where host=#{host}
	</delete>
	
	<delete id="deleteAll">
		delete from t_crawler_cookies
	</delete>
	
</mapper>