<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.rency.crawler.repository.TaskRepository">
	<cache  eviction="FIFO" flushInterval="60000" size="512" readOnly="false"/>
	
	<insert id="save" parameterType="Task">
		insert into t_crawler_task (crawlerId, url, host, isDownload, statusCode, retryCount, lastModified, httpMethod, params, execDate)
		values (#{crawlerId},#{url},#{host},#{isDownload},#{statusCode},#{retryCount},#{lastModified},#{httpMethod},#{params},#{execDate});
	</insert>
	
	<select id="get" parameterType="String" resultType="Task">
		select * from t_crawler_task where url=#{url} order by execDate
	</select>
	
	<select id="load" parameterType="String" resultType="Task">
		select * from t_crawler_task where url=#{url} order by execDate for update
	</select>
	
	<select id="isFetch" parameterType="String" resultType="int">
		select count(url) from t_crawler_task where url=#{url} and statusCode=200 and isDownload=false
	</select>
	
	<select id="getTop" resultType="Task">
		select * from t_crawler_task where statusCode != 200 and isDownload=false order by execDate limit 1
	</select>
	
	<select id="getCount" resultType="int">
		select count(url) from t_crawler_task
	</select>
	
	<select id="getRetryCount" parameterType="String" resultType="int">
		select retryCount from t_crawler_task where url=#{url} order by execDate
	</select>

	<select id="getDownloadWithOne" resultType="Task">
		select * from t_crawler_task where and isDownload=false and statusCode =200 order by execDate limit 1  for update
	</select>
	
	<update id="update" parameterType="Task">
		update t_crawler_task 
		<trim prefix="set" suffixOverrides=",">
			<if test="host != null || host != ''">
				host = #{host},
			</if>
			<if test="isDownload == true">
				isDownload = #{isDownload},
			</if>
			<if test="statusCode != 0">
				statusCode = #{statusCode},
			</if>
			<if test="retryCount != 0">
				retryCount = #{retryCount},
			</if>
			<if test="lastModified != null || lastModified != ''">
				lastModified = #{lastModified},
			</if>
			<if test="httpMethod != null">
				httpMethod = #{httpMethod},
			</if>
			<if test="params != null || params != ''">
				params = #{params},
			</if>
			<if test="execDate != null">
				execDate = #{execDate}
			</if>
		</trim>
		where url = #{url};
	</update>
	
	<delete id="delete" parameterType="String">
		delete from t_crawler_task where url=#{url}
	</delete>
	
	<delete id="deleteByCrawler" parameterType="String">
		delete from t_crawler_task where crawlerId=#{crawlerId}
	</delete>
	
	<delete id="deleteAll">
		delete from t_crawler_task
	</delete>
	
</mapper>